.main {
  background: url('../images/overview/bg.jpg') center center / cover no-repeat;
}

.container h2 {
  padding-left: 0;
}

.left-page > *,
.right-page > * {
  padding: 1rem;
}

#container-1 div img {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  float: right;
  shape-outside: url('../images/beach/creek-video.png');
  shape-image-threshold: 0;
  shape-margin: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  transform: rotate(2deg);
}

.video-container video {
  margin: 3rem 0 3rem;
  width: 60vh;
  max-width: 100%;
  border: 1rem solid white;
  border-bottom-width: 6rem;
  filter: drop-shadow(0.2px 4px 4px black);
}

#container-2 img {
  width: 30%;
  min-width: 200px;
  shape-outside: url('../images/beach/sea-shells.png');
  shape-margin: 25px;
}

#container-3 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#container-3 div {
  display: grid;
  grid-template: 60px 60px / 80px 1fr;
  column-gap: 2rem;
  background: url('../images/beach/brown-tape.png') center center / contain no-repeat;
  width: 60%;
  min-width: 440px;
}

#container-3 img {
  width: 2rem;
  justify-self: end;
}

#container-3 div p {
  margin: 0;
  align-self: center;
}

#container-4 {
  display: flex;
  justify-content: end;
  padding-right: 5rem;
}

#container-4 img {
  display: flex;
  justify-content: end;
  width: 60%;
  min-width: 300px;
}

#container-5 {
  display: flex;
  padding-left: 5rem;
}

#container-5 img {
  width: 30%;
  min-width: 200px;
}

.meditation-1-icon,
.meditation-1-text,
.meditation-2-icon,
.meditation-2-text,
.birds-text,
.water-text,
.waves-text {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  #container-2 img {
    float: left;
  }
}

@media only screen and (min-width: 1100px) {
  #container-3 div {
    background: url('../images/beach/brown-tape.png') center center / cover no-repeat;
    max-width: 447px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  #container-3 div {
    background: url('../images/beach/brown-tape.png') center center / cover no-repeat;
    max-width: 577px;
  }
}
