.container h2 {
  padding-left: 0;
}

.left-page > *,
.right-page > * {
  padding: 1rem;
}

.left-page .container:nth-of-type(1) img {
  width: 50%;
  max-width: 500px;
  float: right;
  shape-outside: url('../images/beach/creek-video.png');
  shape-image-threshold: 0.2;
  shape-margin: 6px;
}

.left-page .container:nth-of-type(1) h2 {
  margin-top: 4rem;
}

.left-page .container:nth-of-type(2) {
  display: flex;
}

svg {
  padding: 0;
}

.video-container {
  display: flex;
  justify-content: center;
  transform: rotate(2deg);
}

.video-container video {
  margin: 3rem 0 3rem;
  width: 60vh;
  max-width: 100%;
  border: 1rem solid white;
  border-bottom-width: 6rem;
  filter: drop-shadow(0.2px 4px 4px black);
}

.right-page .container:nth-of-type(1) {
  display: flex;
  justify-content: space-around;
}

.right-page .container:nth-of-type(1) div {
  margin-top: 6rem;
  max-width: 70%;
}

.right-page .container:nth-of-type(1) img {
  width: 30%;
  max-width: 300px;
  justify-self: end;
  align-self: start;
  padding: 1rem;
}

.right-page .container:nth-of-type(2) {
  background: url('../images/beach/brown-tape.png') top left / contain no-repeat;
  width: 100%;
  margin: 0 auto;
}

.right-page .container:nth-of-type(2) div {
  display: grid;
  grid-template: 60px 60px / 80px 1fr;
  column-gap: 2rem;
}

.right-page .container:nth-of-type(2) img {
  width: 2rem;
  justify-self: end;
}

.right-page .container:nth-of-type(2) div p {
  margin: 0;
  align-self: center;
}

.right-page .container:nth-of-type(3) {
    display: flex;
    justify-content: end;
    padding-right: 5rem;
}

.right-page .container:nth-of-type(3) img {
    display: flex;
    justify-content: end;
  width: 60%;
}

.right-page .container:nth-of-type(4) {
    display: flex;
    padding-left: 5rem;
}

.right-page .container:nth-of-type(4) img {
    width: 30%;
  }

.meditation1, .meditation2, #birds-text, #water-text, #waves-text {
    cursor: pointer;
}