
/* Header
-----------------------------------------------------------------------------*/
header {
	
}


/* Middle
-----------------------------------------------------------------------------*/
main {
   
}

#collection-season a:hover {

    text-decoration: underline;   
}
#collection-season {
    
font-size: 15px;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 10%;
    background-color: #c0988b;
        
}

#collection-season nav li {
    display: inline;
    padding-right: 0,2em;
    
}

#fall-season-header {
        
    text-align: center;
    font-family: 'League Script', cursive;
    font-size: 40px;
    background-color: #c0988b;
    padding-bottom: 10%;
    
}

#fall-season-underheadline {
    
     text-align: center;
     font-size: 10px;
    line-height: 2em;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
}



 h3,h4 {
    color: lightgray;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 20px;
    
}

img {
    width: 100%;
    height: auto;
}


.collection-fall {
    display: flex;
    max-width: 293px;
    float: left;
    margin: 10px;
    height: auto;
    justify-content: center;
   
    
}

.flex-box {
    display: flex;
}

.collection-fall-bigimage {
 max-width: 586px;
    float: left;
    margin: 10px;
    height: auto;
    justify-content: center;
    background-color: #fcf1e3;
    padding: 5%;
    position: 
   
    

}

/* Footer
-----------------------------------------------------------------------------*/
footer {
	
}