#main-content {
  background-color: var(--white);
}

#contact-header div.banner-container {
  margin-top: 2rem;
}

#contact-header h3 {
  padding-top: 2rem;
}

#contact-header h2,
#contact-header h3 {
  text-align: center;
  font-size: 1.3rem;
}

#contact-header p {
  font-size: 1.1rem;
  line-height: 2.2rem;
}

div.banner-container,
#contact-header h2,
#contact-header h3,
#contact-header p {
  width: 60vw;
  max-width: 25rem;
  min-width: 7rem;
}

#contact-header p {
  width: 100vw;
  padding-top: 2rem;
}

#contact-header h3,
#contact-header p {
  margin: 0 auto;
}

div.banner-container,
h3.section-subheading,
.section-description,
div.button {
  margin: 0 auto;
}

div.banner-container {
  background-color: var(--red);
  color: white;
}

#contact-header .background-image-container {
  margin: 2rem auto 0;
  height: calc(100px + 10vh);
  width: calc(100vw - 2rem);
  max-width: 60rem;
  background: url("../images/contact/gustav-girl-laying-on-couch-768w.jpg") top
    center / cover no-repeat;
}

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

#desktop-form-container {
  width: 100vw;
}

.form-item {
  padding: 1rem 1rem 0;
}

.form-item input {
  font-family: "Open Sans", sans-serif;
}

.form-item input.input-text {
  width: 100%;
}

#mobile-form-container {
  max-width: 27rem;
}

#mobile-form-container input.input-text {
  color: black;
  background-color: var(--white);
}

#desktop-form-container {
  margin-right: 4rem;
}

#desktop-form-container,
.contact-info-content-wrapper p:last-of-type,
div.contact-info-content-wrapper hr:last-of-type {
  display: none;
}

#desktop-form-container input.input-text {
  color: white;
  background-color: var(--red);
}

div.form-item:last-child {
  align-self: end;
}

:focus {
  outline: none;
}

#mobile-form-container ::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

#desktop-form-container ::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

input.input-text {
  border: 0;
  padding: 0 0 5px;
}

#mobile-form-container input.input-text {
  border-bottom: 1px solid black;
}

#desktop-form-container input.input-text {
  border-bottom: 1px solid white;
}

input.input-button {
  margin-top: 1rem;
  border: 0;
  padding: 0.4rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 4px;
}

#mobile-form-container input.input-button {
  background-color: var(--red);
  border-color: var(--red);
  color: white;
}

#desktop-form-container input.input-button {
  background-color: var(--white);
  border-color: var(--white);
  color: black;
}

div.contact-info-content-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin-top: 2rem;
  padding: 2rem 1rem 2rem;
  background-color: var(--red);
}

div.contact-info-content-wrapper * {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: white;
}

div.contact-info-content-wrapper hr {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  border-style: inset;
  border-width: 1px;
  height: auto;
}

.contact-info-content-wrapper :nth-child(3) ul:not(:first-child) {
  padding-top: 1rem;
}

p.vertical-text {
  align-self: center;
  font-family: "Times New Roman", serif;
  letter-spacing: 0.5rem;
  font-variant: small-caps;
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

.google-maps iframe {
  width: 100vw;
  height: calc(100px + 10vh);
  border: 0;
}

#main-footer {
  background-color: var(--red);
}

@media only screen and (min-width: 600px) {
  .form-container {
    margin: 0;
  }

  #desktop-form-container {
    display: unset;
  }

  div.contact-info-content-wrapper {
    justify-content: center;
  }

  #mobile-form-container,
  .contact-info-content-wrapper p:first-of-type,
  div.contact-info-content-wrapper hr:first-of-type {
    display: none;
  }

  #desktop-form-container,
  .contact-info-content-wrapper p:last-of-type,
  div.contact-info-content-wrapper hr:last-of-type {
    display: unset;
  }
}

@media only screen and (min-width: 800px) {
  #desktop-form-container {
    margin-right: 8rem;
  }
}

@media only screen and (min-width: 1366px) {
  #contact-header .background-image-container {
    background: url("../images/contact/gustav-girl-laying-on-couch-1366w.jpg")
      top center / cover no-repeat;
  }
}
