
/*------mit eget---------------------------------------------------*/
body{
    background-color: #fffdf4;
}



#wrapper {
    max-width: 1024px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
header {
    height: auto;
    background: #628183;
}


/* Middle
-----------------------------------------------------------------------------*/
main {}
/* 
#top_background {
    background-image: url(../images/promo/gustavgirl-on-couch-1800w.png);
    background-color: #fffdf4;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 250px;
    padding-bottom: 200px;
}
*/ 
#top_background{
    position: relative;
    padding-bottom: 2%;
} 

#top_background img{ 
max-width: 100%;
height: auto;
}

div.transbox {
    background-color: #c0988b;
    opacity: 0.7;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;

}

div.transbox h2 {
    margin: 2%;
    padding: 10%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.0em;
    opacity: 1.0;
    font-weight: bold;
    color: #000000;
    text-align: center;
    align-content: center;


}

h2{ 
    font-weight: bold;
    opacity: 1.0;

}
.fairs-list {
    max-width: 100%;
    justify-content: center;
    text-align: center;
    
}

.fairs-list h2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.0rem;
    align-content: center;
}

.fairs-list h3 {
    padding: 2px;
    font-size: 1.1em;
    margin-bottom: 15px;
    font-weight: 800;
    color: black;

}

.fairs-list p {

    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: 2.0;

}


/* Footer
-----------------------------------------------------------------------------*/
footer {
    height: auto;
    background: #af9576;
}



