.container h2 {
    padding-left: 0;
  }
  
  .left-page > *,
  .right-page > * {
    padding: 1rem;
  }
  
  .left-page .container:nth-of-type(1) img {
    width: 50%;
    max-width: 500px;
    float: right;
    shape-outside: url('../images/forrest/moss-polaroid.png');
    shape-image-threshold: 0.2;
    shape-margin: 12px;
  }
  
  .left-page .container:nth-of-type(1) h2 {
    margin-top: 2rem;
  }
  
  .left-page .container:nth-of-type(2) img {
    align-self: start;
    clear: both;
    width: 70%;
  }
  
  .left-page .container:nth-of-type(2) {
    display: flex;
  }
  
  .left-page .container:nth-of-type(1) div > div {
      display: flex;
      flex-direction: column;
      text-align: center;
     align-items: center;
  }

  .left-page .container:nth-of-type(1) div > div h2 {
    width: 350px;
  }

  svg {
    padding: 0;
  }

  .left-page .container:nth-of-type(2) > img:nth-of-type(1) {
    width: 55%;
    padding-top: 5rem;
    padding-right: 3rem;
  }

  .left-page .container:nth-of-type(2) > img:nth-of-type(2) {
    padding-top: 2rem;
    width: 40%;
  }

  .video-container {
    display: flex;
    justify-content: center;
    transform: rotate(2deg);
  }

  .video-container video {
    margin: 3rem 0 3rem;
    width: 60vh;
    max-width: 100%;
    border: 1rem solid white;
    filter: drop-shadow(0.2px 4px 4px black);
  }

  .right-page .container:nth-of-type(2) div:first-of-type {
    padding-right: 2rem;
  }

  .right-page .container:nth-of-type(2) img {
    width: 10vw;
    align-self: end;
  }

  .right-page .container li {
    line-height: 3rem;
  }

  .right-page .container div > ul > li  {
    list-style-type: none;
    list-style-position: inside;
    font-weight: bold;
  }

  .right-page .container div > ul {
    font-family: var(--handwritten);
    font-size: 2rem;
    list-style-position: inside;
    margin:0;
    padding: 0;
  }
  
.right-page .container:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}

#birds-text, #rain-text, #thunder-text {
      cursor: pointer;
  }