/* STYLESHEET TIL INDEX.HTML */

/* GLOBAL SEKTION START */

/* 
* height resettes til initial for at hero video + header kan tage 100vh. 
* height er nemlig sat til 100% i style.css (som en del af vores sticky footer implementation).
*/

html,
body {
  height: initial;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
}

.heading-wrapper hr {
  width: calc(100vw - 40px);
  max-width: 460px;
}

/* .heading-container {
  padding-left: 20px;
  padding-right: 20px;
} */

/* GLOBAL SEKTION SLUT */

/* VIEWPORT START */

#why-choose-us-article,
#escape-games-article header,
.outdoor-escape-game-section,
.mobile-escape-room-section,
.murder-mystery-section,
#concept-article,
#prices-article,
#occasion-section,
#reviews-section,
#cities-section,
#cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 500px;
}

/* VIEWPORT SLUT */

/* MAIN SEKTION START */

/* HERO SEKTION START */

.top-hero,
.bottom-hero,
.hero-wrapper .cta-wrapper {
  display: flex;
}

.top-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 133px;
  background-color: black;
}

.top-hero h1 {
  letter-spacing: 0.5px;
}

.video-overlay-text {
  margin: 0;
}

.video {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

.middle-hero-inner-container {
  background: var(--dark-grey);
}

.hero-wrapper .cta-wrapper {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 0;
}

.bottom-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 133px;
  background-color: var(--dark-grey);
}

.review-slider {
  display: grid;
  grid-template-columns: 45px 285px 45px;
  color: white;
}

.review-slider-content {
  padding-left: 18px;
  padding-right: 18px;
}

.review-slider-content-bottom .review-slider-icon {
  height: 45px;
  padding: 10px 20px 0 0;
}

.review-slider-content-bottom {
  display: flex;
}

.review-slider-content-top p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 10px;
  letter-spacing: 0;
}

.review-slider-content-bottom p {
  font-size: 12px;
  line-height: 18px;
}

.review-slider-icon-left,
.review-slider-icon-right {
  height: 20px;
}

.review-slider-left,
.review-slider-right,
.review-slider-icon-left,
.review-slider-icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.review-slider-left {
  padding-left: 20px;
}

.review-slider-right {
  padding-right: 20px;
}

#review-profile-picture {
  width: 44.88px;
  height: 45.09px;
}

#review-text {
  padding-left: 20px;
}

#review-text {
  letter-spacing: 0.06em;
}

.video-overlay-button {
  height: 35px;
  margin-left: 15px;
  margin-right: 15px;
  width: 130px;
  letter-spacing: 0;
}

/* HERO SEKTION SLUT */

/* HVORFOR VÆLGE OS SEKTION START */

#why-choose-us-article {
  padding: 0 20px;
  margin-top: 60px;
}

#why-choose-us-article img {
  width: 100%;
}

#why-choose-us-article hr {
  max-width: 500px;
  margin-bottom: 60px;
}

#why-choose-us-article p {
  padding: 22px 0 31px;
}

.why-choose-us-icon {
  height: 60px;
}

.heading-and-icon-wrapper * {
  max-width: 200px;
}

.heading-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entertaintment-section,
.props-section {
  padding-bottom: 80px;
}

.teamwork-section {
  padding-bottom: 60px;
}

#escape-games-definition {
  cursor: pointer;
}

/* HVORFOR VÆLGE OS SEKTION SLUT */

.aarhus-silouhette,
.copenhagen-silouhette {
  height: 354px;
}

.aarhus-silouhette {
  background-position: top right;
  background-image: url('../images/index/aarhus-sillouhette.svg');
}

/* ESCAPE GAMES SEKTION START */

#escape-games-article {
  background-color: black;
}

#escape-games-article header {
  color: white;
}

#escape-games-article header h2 {
  padding: 60px 0 10px;
}

#escape-games-article p {
  padding: 22px 0 60px;
}

#escape-games-article .heading-and-icon-wrapper {
  padding-top: 60px;
}

#escape-games-article .icon-wrapper {
  display: flex;
  justify-content: space-between;
}

#escape-games-article .heading-and-icon-wrapper .icon {
  padding-right: 20px;
  height: 44px;
}

/* baggrund er fra https://www.toptal.com/designers/subtlepatterns/ */
.outdoor-escape-game-section {
  background: url('../images/index/bg-textures/prism.png') repeat;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  align-self: center;
  width: 100%;
  max-width: 500px;
}

/* 
* selectoren > * + * kaldes for the lobotimized owl selector (uglen med det hvide snit), 
* og bruges ofte til flex/grid i stedet for 'gap', når der skal ydes support til safari ios, 
* når man bruger den på parent elementet, vil øverste child element ikke blive ramt af reglen 
* (man vil gerne undgå at der kommer margin/padding på første element)
* se: https://www.youtube.com/watch?v=VvqyUUROmJw 
*/

.card-wrapper > * + * {
  padding-top: 40px;
}

.operation-mindfall-card {
  padding-top: 54px;
}

.hunt-a-killer-card {
  padding-bottom: 60px;
}

/* baggrund er fra: https://www.toptal.com/designers/subtlepatterns/ */
.mobile-escape-room-section {
  background: url('../images/index/bg-textures/stardust.png') repeat;
}

.mobile-escape-room-section {
  color: white;
}

.pirate-escape-card,
.the-murderer-at-grand-hotel-card {
  padding-top: 53px;
  padding-bottom: 60px;
}

/* baggrund er fra: https://www.toptal.com/designers/subtlepatterns/ */
.murder-mystery-section {
  background: url('../images/index/bg-textures/brickwall.png') repeat;
}

/* ESCAPE GAMES SEKTION SLUT */

.copenhagen-silouhette {
  background: url('../images/index/copenhagen-sillouhette.svg') repeat top right, url('../images/index/bg-textures/brickwall.png') repeat;
}

/* KONCEPT SEKTION START */

#concept-article {
  color: white;
  background: black;
}

#concept-article h2 {
  padding-bottom: 10px;
}

#concept-article h3 {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

#concept-article h3,
#concept-article h4,
#concept-article p,
.concept-icon {
  padding-left: 20px;
  padding-right: 20px;
}

/* 
* pseudo selectoren nth-child(odd) anvendes for at ramme hver
* anden section og skubbe det mod højre med flex 
*/

#concept-article section:nth-child(odd) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#concept-article .heading-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

#concept-article h3 .second-line {
  color: var(--gold);
  font-size: 36px;
  line-height: 42px;
}

#concept-article h4 {
  font-size: 22px;
  line-height: 33px;
}

.concept-icon,
#concept-article h4 {
  color: var(--gold);
  padding-top: 20px;
}

#concept-article p {
  padding-top: 5px;
  font-size: 16px;
  line-height: 150%;
}

.align-right {
  text-align: right;
}

.dashed-line-wrapper {
  width: calc(100% - 40px);
  margin: 20px;
}

.dashed-line-left {
  margin-top: 25px;
}

.concept-step-8 {
  padding-bottom: 56px;
}

/* KONCEPT SEKTION SLUT */

/* PRISER SEKTION START */

#prices-article {
  background: linear-gradient(360deg, rgba(201, 157, 43, 0.38) -45.98%, rgba(255, 255, 255, 0) 200.09%);
}

#prices-article h2 {
  padding: 60px 20px 10px;
}

#prices-article hr {
  margin: 0 20px 0;
}

.prices-top-row {
  padding: 33px 20px 0;
}

.prices-top-row,
.prices-row {
  display: grid;
  grid-template-columns: 1fr 150px;
}

.prices-top-row p:last-child {
  align-self: flex-end;
}

.prices-top-row p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.prices-row {
  padding: 40px 0 0;
}

.prices-row-left {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
}

.prices-icon-wrapper {
  padding-left: 15px;
}

.prices-wrapper p {
  line-height: 30px;
  align-self: flex-end;
}

.prices-icon-wrapper > * + * {
  padding-left: 10px;
}

.prices-row-right {
  padding-right: 20px;
}

.prices-row-left p,
.prices-row-right p:first-child {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
}

.prices-row-left p {
  font-size: 36px;
}

.prices-row-right {
  justify-self: flex-end;
}

.prices-row-right p:first-child {
  padding-right: 10px;
}

.prices-bottom-row {
  padding: 26px 20px 60px;
}

.prices-bottom-row small {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

#prices-plus {
  font-size: 24px;
  padding-left: 10px;
  align-self: center;
}

.prices-row-right {
  display: flex;
}

.prices-middle-divider {
  border: 1px dashed black;
  margin: 0 20px 0;
}

/* PRISER SEKTION SLUT */

/* ANLEDNING SEKTION START */

#occasion-section h2 {
  padding: 60px 20px 10px;
}

#occasion-section hr {
  margin: 0 20px;
}

.occasion-icon-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.occasion-icon-wrapper,
.occasion-icon-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.occasion-icon {
  height: 115px;
}

.occasion-bachelor-party {
  padding-top: 60px;
}

.occasion-bachelor-party,
.occasion-corporate-event {
  align-self: flex-start;
}

.occasion-birthday-party,
.occasion-friends-and-family {
  align-self: flex-end;
}

.occasion-icon-wrapper p {
  padding-top: 22px;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
}

.occasion-icon-wrapper > * + * {
  padding-top: 60px;
}

.occasion-friends-and-family {
  padding-bottom: 60px;
}

/* ANLEDNING SEKTION SLUT */

/* ANMELDELSER SEKTION START */

#reviews-section {
  background-color: black;
  color: white;
}

#reviews-section .heading-wrapper {
  padding-top: 37px;
}

#reviews-section h2 {
  padding-bottom: 10px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
}

.reviews-wrapper > * + * {
  padding-top: 30px;
}

.reviews-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.075em;
}

.reviews-wrapper a {
  color: var(--gold);
}

.review {
  width: 100%;
  max-width: 460px;
}

.review:first-child {
  padding-top: 60px;
}

.review:last-child {
  padding-bottom: 24px;
}

.reviews-facebook-logo {
  padding-bottom: 60px;
  width: 60px;
  align-self: center;
}

/* ANMELDELSER SEKTION SLUT */

/* BYER SEKTION START */

#cities-section {
  background: center / cover no-repeat url('../images/index/bg-photo/city@0.33x.jpg');
}

#cities-section .heading-wrapper {
  padding-top: 60px;
}

#cities-section h2 {
  color: white;
  padding-bottom: 10px;
}

.cities-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  justify-content: center;
  gap: 20px;
}

.cities-wrapper div {
  margin-top: 15px;
}

#copenhagen,
#aarhus {
  margin-top: 60px;
}

.city-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 84px;
  background-color: #fafafa;
  border-radius: 5px;
}

.city {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#horsens {
  margin-bottom: 60px;
}
/* BYER SEKTION SLUT */

/* CTA SEKTION START */

#cta-section {
  background-color: var(--dark-grey);
}

#cta-section .heading-wrapper {
  padding: 60px 20px 0;
}

#cta-section h2 {
  color: white;
}

#cta-section .cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 60px;
}

#cta-section .cta-wrapper .cta-button {
  width: 100%;
  height: 50px;
  line-height: 33px;
}

/* selectoren vælger det html element, som har både cta-button og .cta-button.white-button
som classes, fordi ikke at ramme den hvide cta knap  */
.cta-button.gold-button {
  font-size: 22px;
  margin-top: 30px;
  color: black;
}

.cta-button.white-button {
  font-size: 19px;
}

#cities-section .heading-wrapper {
  padding-top: 60px;
}

/* CTA SEKTION SLUT */

/* MAIN SEKTION SLUT */

/* MODAL SEKTION START */

/* modal-vinduet er gemt som standard, har fixed position, og får z-index så d */

.modal {
  position: fixed;
  top: 50vh;
  left: calc(50vw - 124px);
  width: 248px;
  height: 336px;
}

.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--gold);
  height: 48px;
}

.modal-bottom {
  background-color: black;
}

.modal-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.18em;
  color: black;
  text-transform: uppercase;
  padding-left: 15px;
}

.modal-subheading {
  padding: 15px 15px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.modal-bottom hr {
  margin: 0 15px 0;
}

.modal-subsubheading {
  padding: 20px 15px 0;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.modal-paragraph {
  padding: 20px 15px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 174.5%;
  color: white;
}

.modal-close {
  width: 30px;
  height: 30px;
  margin: 5px 5px 13px 0;
}

/* MODAL SEKTION SLUT */

@media only screen and (min-width: 768px) {
  #cities-section {
    background: center / cover no-repeat url('../images/index/bg-photo/city@0.5x.jpg');
  }
}

@media only screen and (min-width: 1024px) {
  #cities-section {
    background: center / cover no-repeat url('../images/index/bg-photo/city.jpg');
  }
}

@media only screen and (min-width: 1163px) {
  video {
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-height: calc(100vh - 233px);
    object-fit: fill;
    z-index: 1;
  }
}
