/* STYLESHEET TIL INDEX.HTML */

/* GLOBAL SEKTION START */

/* 
* height resettes til initial for at hero video + header kan tage 100vh. 
* height er nemlig sat til 100% i style.css (som en del af vores sticky footer implementation).
*/

html,
body {
  height: initial;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
}

.heading-container {
  max-width: 335px;
}

/* GLOBAL SEKTION SLUT */

/* MAIN SEKTION START */

/* HERO SEKTION START */

.hero-wrapper {
  background-color: var(--dark-grey);
}

.top-hero,
.bottom-hero,
.hero-wrapper .cta-wrapper {
  display: flex;
  /* align-items: center; */
}

.top-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
}

.top-hero h1 {
  letter-spacing: 0.5px;
}

.video-overlay-text {
  margin: 0;
}

.video {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

.middle-hero-inner-container {
  background: var(--dark-grey);
}

.hero-wrapper .cta-wrapper {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
  z-index: 2;
  height: 0;
}

.bottom-hero {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.review-slider-placeholder {
  width: 290px;
}

.video-overlay-button {
  height: 35px;
  margin-left: 15px;
  margin-right: 15px;
  width: 130px;
  letter-spacing: 0;
}

/* HERO SEKTION SLUT */

/* HVORFOR VÆLGE OS SEKTION START */

#why-choose-us-article {
  padding: 0 20px;
  margin-top: 60px;
}

#why-choose-us-article hr {
  margin-bottom: 60px;
}

#why-choose-us-article p {
  padding: 22px 0 31px;
}

.why-choose-us-icon {
  height: 60px;
}

.heading-and-icon-wrapper * {
  max-width: 200px;
}

.heading-and-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entertaintment-section,
.props-section {
  padding-bottom: 80px;
}

.teamwork-section {
  padding-bottom: 60px;
}

/* HVORFOR VÆLGE OS SEKTION SLUT */

.aarhus-silouhette,
.copenhagen-silouhette {
  height: 354px;
}

.aarhus-silouhette {
  background-position: top right;
  background-image: url('../images/index/aarhus-sillouhette.svg');
}

/* ESCAPE GAMES SEKTION START */

#escape-games-article {
  background-color: black;
}

#escape-games-article header {
  color: white;
}

#escape-games-article header h2 {
  padding: 60px 20px 10px;
}

#escape-games-article p {
  padding: 22px 20px 60px;
}

#escape-games-article hr {
  margin: 0 20px 0;
}

#escape-games-article h3 {
  padding: 0 0 0 20px;
}

#escape-games-article .heading-and-icon-wrapper {
  padding-top: 60px;
}

#escape-games-article .icon-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
}

#escape-games-article .heading-and-icon-wrapper .icon {
  padding-right: 20px;
  height: 44px;
}

/* baggrund er fra https://www.toptal.com/designers/subtlepatterns/ */
.outdoor-escape-game-section {
  background: url('../images/index/bg-textures/prism.png') repeat;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0;
}

/* 
* selectoren > * + * kaldes for the lobotimized owl selector (uglen med det hvide snit), 
* og bruges ofte til flex/grid i stedet for 'gap', når der skal ydes support til safari ios, 
* når man bruger den på parent elementet, vil øverste child element ikke blive ramt af reglen 
* (man vil gerne undgå at der kommer margin/padding på første element)
* se: https://www.youtube.com/watch?v=VvqyUUROmJw 
*/

.card-wrapper > * + * {
  padding-top: 40px;
}

.operation-mindfall-card {
  padding-top: 54px;
}

.hunt-a-killer-card {
  padding-bottom: 60px;
}

/* baggrund er fra: https://www.toptal.com/designers/subtlepatterns/ */
.mobile-escape-room-section {
  background: url('../images/index/bg-textures/stardust.png') repeat;
}

.mobile-escape-room-section {
  color: white;
}

.pirate-escape-card,
.the-murderer-at-grand-hotel-card {
  padding-top: 53px;
  padding-bottom: 60px;
}

/* baggrund er fra: https://www.toptal.com/designers/subtlepatterns/ */
.murder-mystery-section {
  background: url('../images/index/bg-textures/brickwall.png') repeat;
}

/* ESCAPE GAMES SEKTION SLUT */

.copenhagen-silouhette {
  background: url('../images/index/copenhagen-sillouhette.svg') repeat top right,
    url('../images/index/bg-textures/brickwall.png') repeat;
}

/* KONCEPT SEKTION START */

#concept-article {
  color: white;
  background: black;
}

#concept-article h3 {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

#concept-article h2,
#concept-article h3,
#concept-article h4,
#concept-article p,
.concept-icon {
  padding-left: 20px;
  padding-right: 20px;
}

/* 
* pseudo selectoren nth-child(odd) anvendes for at ramme hver
* anden section og skubbe det mod højre med flex 
*/

#concept-article section:nth-child(odd) {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#concept-article hr {
  margin: 0 20px 0;
}

#concept-article h3 .second-line {
  color: var(--gold);
  font-size: 36px;
  line-height: 42px;
}

#concept-article h4 {
  font-size: 22px;
  line-height: 33px;
}

.concept-icon,
#concept-article h4 {
  color: var(--gold);
  padding-top: 20px;
}

#concept-article p {
  padding-top: 5px;
  font-size: 16px;
  line-height: 150%;
}

.align-right {
  text-align: right;
}

.dashed-line-wrapper {
  margin: 20px;
}

.dashed-line-left {
  margin-top: 25px;
}

.concept-step-8 {
  padding-bottom: 56px;
}

/* KONCEPT SEKTION SLUT */

/* PRISER SEKTION START */

#prices-article {
  background: linear-gradient(
    360deg,
    rgba(201, 157, 43, 0.38) -45.98%,
    rgba(255, 255, 255, 0) 200.09%
  );
}

#prices-article h2 {
  padding: 40px 20px 0;
}

#prices-article hr {
  margin: 0 20px 0;
}

.prices-top-row {
  padding: 33px 20px 0;
}

.prices-top-row,
.prices-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prices-top-row p:last-child {
  align-self: end;
}

.prices-top-row p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.prices-row {
  padding: 40px 0 0;
}

.prices-row-left {
  padding-left: 20px;
}

.prices-row-right {
  padding-right: 20px;
}

.prices-row-left p,
.prices-row-right p:first-child {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
}

.prices-row-right {
  justify-self: end;
}

.prices-row-right p:first-child {
  padding-right: 10px;
}

.prices-bottom-row {
  padding: 26px 20px 37px;
}

.prices-bottom-row small {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.prices-row-right {
  display: flex;
  flex: nowrap;
}

.prices-row-right p:last-child {
  line-height: 1.9em;
}

.prices-middle-divider {
  border: 1px dashed black;
  margin: 0 20px 0;
}

/* PRISER SEKTION SLUT */

/* ANLEDNING SEKTION START */

#occasion-section h2 {
  padding: 60px 20px 0;
}

#occasion-section hr {
  margin: 0 20px;
}

.occasion-icon-wrapper,
.occasion-icon-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.occasion-bachelor-party {
  padding-top: 60px;
}

.occasion-icon-wrapper p {
  padding-top: 22px;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
}

.occasion-icon-wrapper > * + * {
  padding-top: 60px;
}

.occasion-friends-and-family {
  padding-bottom: 12px;
}

/* ANLEDNING SEKTION SLUT */

/* ANMELDELSER SEKTION START */

#reviews-section {
  background-color: black;
  color: white;
}

#reviews-section h2 {
  padding: 37px 20px 0;
}

#reviews-section hr {
  margin: 0 20px 0;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-wrapper > * + * {
  padding-top: 30px;
}

.reviews-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.075em;
}

.reviews-wrapper a {
  color: var(--gold);
}

.review {
  width: 335px;
}

.review:first-child {
  padding-top: 60px;
}

.review:last-child {
  padding-bottom: 24px;
}

.reviews-facebook-logo {
  padding-bottom: 60px;
  width: 60px;
}

/* ANMELDELSER SEKTION SLUT */

/* BYER SEKTION START */

#cities-section {
  background: center / cover no-repeat
    url('../images/index/bg-photo/city@0.33x.jpg');
}

#cities-section h2 {
  padding: 60px 20px 0;
  color: white;
}

#cities-section hr {
  margin: 0 20px 0;
}

.cities-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  justify-content: center;
  gap: 20px;
}

.cities-wrapper div {
  margin-top: 15px;
}

#copenhagen,
#aarhus {
  margin-top: 60px;
}

.city-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 84px;
  background-color: #fafafa;
  border-radius: 5px;
}

.city-container p {
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}

#horsens {
  margin-bottom: 60px;
}
/* BYER SEKTION SLUT */

/* CTA SEKTION START */

#cta-section {
  background-color: var(--dark-grey);
}

#cta-section h2 {
  padding: 60px 20px 0;
  color: white;
}

#cta-section .cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 60px;
}

#cta-section .cta-wrapper .cta-button {
  width: 335px;
  height: 50px;
  line-height: 33px;
}

/* selectoren vælger det html element, som har både cta-button og .cta-button.white-button
som classes, fordi ikke at ramme den hvide cta knap  */
.cta-button.gold-button {
  font-size: 22px;
  margin-top: 30px;
  color: black;
}

.cta-button.white-button {
  font-size: 19px;
}

/* CTA SEKTION SLUT */

/* MAIN SEKTION SLUT */

@media only screen and (min-width: 768px) {
  #cities-section {
    background: center / cover no-repeat
      url('../images/index/bg-photo/city@0.5x.jpg');
  }
}

@media only screen and (min-width: 1024px) {
  #cities-section {
    background: center / cover no-repeat
      url('../images/index/bg-photo/city.jpg');
  }
}
