/* STYLESHEET TIL INDEX.HTML */

/* GLOBAL SEKTION */

/* 
* height resettes til initial for at hero video + header kan tage 100vh. 
* height er nemlig sat til 100% i style.css (som en del af vores sticky footer implementation).
*/

html,
body {
  height: initial;
}

/* 
* fratrækker 65px i beregningen af height af hero video containeren, for at tage højde for headerens højde + top margin på 15 px
*/

.hero-video-container {
  height: calc(100vh - 65px);
  background-color: lightblue;
}

.video-overlay-text {
  margin: 0;
}

