:root {
    --green: #628183;
    --salmon: #c0988b;
    --coffee: #af9576;
    --red: #804e4e;
    --white: #fffdf4;
  }

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
	width: 100%;
	height: 50%;
}

#business-to-consumer { 
    background: url('../images/landing-page/girl-in-the-woods-landing-page-background-image-768w.png') center center / cover no-repeat;
  }

#business-to-consumer div, #business-to-business div {
    height: 15vh;
    width: 30vw;
    min-height: 5rem;
    max-height: 10rem;
    min-width: 10rem;
    max-width: 25rem;
    margin-bottom: 3vh;
}

#business-to-consumer div {
background-color: rgb(98,129,131, 0.8)
}

#business-to-business div {
  background-color: rgb(128,78,78, 0.8);
}

#business-to-business { 
    background: url('../images/landing-page/girl-with-arms-raised-landing-page-background-image-768w.jpg') center center / cover no-repeat;
  }

  
