/*----------------------------------------------------*/ 
body{
    background-color: #fffdf4;
}
#img-container{
    position: relative;
}

#img-container img{
    max-width: 100%;
    height: auto;
}



#team-img img{
    max-width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     
}
.flex-container{
   text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.flex-img img{
    max-width: 100%;
    height: auto;

    
}

/*
#bottom-img{
    display: flex;
    justify-content: center;
}
#bottom-img img{
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    /*
}
/*----------------------------------------------------*/ 

 h4,p{

    text-align: center;
     padding-top: 2%;
}

#vision{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding: 10%;
}

.our-story{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding: 10%;
    
}
 @media only screen and (min-width: 700px) {
 #main-header-our-story {
            
          background-image: url(../images/promo/gustavgirl-leaning-on-chair.jpg);
           background-repeat: no-repeat;
    background-attachment:  fixed;
            -webkit-background-size:cover;
           -moz-background-size:cover;
           -o-background-size: cover;
           background-size: cover;
            height: 25%;
            max-width: 100%;

        }

}