/*----------------------------------------------------*/ 
body{
    background-color: #fffdf4;
}


#img-container{
    position: relative;
}

#img-container img{
    max-width: 100%;
    height: auto;
}



#team-img img{
    max-width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     
}
.flex-container{
   text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.flex-img img{
    max-width: 100%;
    height: auto;

    
}




/*----------------------------------------------------*/ 

h4{
    text-align: center;
     padding-top: 2%;
    font-size: 1.5rem;
    font-weight: 800;
    
} 

p{

    text-align: center;
     padding: 2%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    
    
    
}

#vision{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

.our-story{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    
}
 @media only screen and (min-width: 700px) {
 #main-header-our-story {
            
          background-image: url(../images/promo/gustavgirl-leaning-on-chair.jpg);
           background-repeat: no-repeat;
    background-attachment:  fixed;
            -webkit-background-size:cover;
           -moz-background-size:cover;
           -o-background-size: cover;
           background-size: cover;
            height: 25%;
            max-width: 100%;

        }

}


    
    






