.main {
  background: url('../images/overview/bg.jpg') center center / cover no-repeat;
}

.container {
  display: flex;
}

.left-page > *,
.right-page > * {
  padding: 1rem;
}

#container-1 {
  justify-content: space-around;
}

#container-1 :nth-child(1) {
  align-self: center;
  width: 70%;
}

#container-1 :nth-child(2) {
  display: none;
  align-self: end;
  width: 30%;
}

#container-2 img {
  width: 45%;
  max-width: 290px;
  padding: 0 2rem 0.5rem 0;
  float: left;
  shape-outside: border-box;
}

.video-container {
  display: flex;
  justify-content: center;
  transform: rotate(-2deg);
}

.video-container video {
  margin: 3rem 0 3rem;
  width: 60vh;
  max-width: 100%;
  border: 1rem solid white;
  border-bottom-width: 6rem;
  filter: drop-shadow(0.2px 4px 4px black);
}

#how-to-start-a-fire {
  width: 100%;
}

#collage {
  align-self: end;
  width: 100%;
}

.birds-text,
.campfire-text,
.rain-text {
  cursor: pointer;
}

@media only screen and (min-width: 770px) and (max-width: 999px) {
    #container-2 div p {
        font-size: 2.5vw;
    }
}


@media only screen and (min-width: 1000px) {
    #container-1 :nth-child(1) {
        align-self: center;
        width: 70%;
      }
      
      #container-1 :nth-child(2) {
        display: unset;
        align-self: end;
        width: 30%;
      }
}
