





/* Header
-----------------------------------------------------------------------------*/
header {
      
}


/* Middle
-----------------------------------------------------------------------------*/
main {
    background-color: #c0988b;
}

#image-socialmedia img {
    width: 85%;
    height: auto;
    max-width: 350px;
    position: relative;
    left: 12px;
    border-radius: 20px;
}

.flex-mobile1 {

    display: flex;
    background-color: #e2b4a5;
}

.flex-mobile2 {

    display: flex;
}

.flex-mobile3 {

    display: flex;
    background-color: #e2b4a5;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'times new roman', serif;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 30px;
    padding-bottom: 1em;
}

h4 {
    text-indent: -9999px;

}


h5 a {

    color: #628183;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-align: start;
    position: relative;
    left: 12px;



}

h6 {

    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 10px;
    text-align: start;
    position: relative;
    left: 12px;
    padding-bottom: 10%;


}








/* Footer
-----------------------------------------------------------------------------*/
footer {}






@media only screen and (min-width: 400px) {

    #image-socialmedia img {

        position: relative;
        left: 15px;

    }

    @media only screen and (min-width: 480px) {

        h5 a {

            font-size: 13px;
            position: relative;
            left: 20px;

        }

        h6 {
            font-size: 13px;
            position: relative;
            left: 20px;
        }


        #image-socialmedia img {

            position: relative;
            left: 20px;

        }

    }


    @media only screen and (min-width: 700px) {
        h1 {

            font-size: 40px;

        }

        h2 {

            font-size: 20px;

        }

    }

    @media only screen and (min-width: 1000px) {

        main {
            background-color: #cdae89;

        }
        
      
  #image-socialmedia img {

            position: relative;
            left: 250px;

        }
        
        
        
           h5 a {

        
            position: relative;
            left: 250px;

        }

        h6 {
            
            position: relative;
            left: 250px;
        }
        
        
           h1 {

           color: black;

        }

        h2 {

            color: black;
            padding-bottom: 5%

        }

    

      #main-header-socialmedia {
            
          background-image: url(../images/socialmedia/socialmedia-header-1200w.jpg);
           background-repeat: no-repeat;
    background-attachment:  fixed;
            -webkit-background-size:cover;
           -moz-background-size:cover;
           -o-background-size: cover;
           background-size: cover;
            height: 33%;
            width: 100%;

        }
        
    }
