:root {
  --antonio: 'Antonio', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --permanent-marker: 'Permanent Marker', cursive;
  --handwritten: 'Reenie Beanie', cursive;
}

p,
input {
  font-family: var(--montserrat);
  margin: 0 0 1rem;
}

button {
  font-family: var(--permanent-marker);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--permanent-marker);
}

* {
  box-sizing: border-box;
}

.notebook {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 500px;
}

.notebook h1,
.notebook h2,
.notebook h3,
.notebook h4,
.notebook h5,
.notebook h6 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
  padding: 1rem;
}

.page {
  min-width: 100%;
  min-height: 100vh;
  padding-top: 2.5rem;
}

.left-page {
  background-image: url('../images/notebook-top-left.png'), url('../images/notebook-middle-left.png'), url('../images/notebook-bottom-left.png');
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: top left, top left, bottom left;
  background-size: contain;
  padding-left: 1.5rem;
  padding-right: 4.5rem;
}

.right-page {
  background-image: url('../images/notebook-top-right.png'), url('../images/notebook-middle-right.png'), url('../images/notebook-bottom-right.png');
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: top left, top left, bottom left;
  background-size: contain;
  padding-left: 4.5rem;
  padding-right: 0 1.875rem;
}

.notebook img {
  width: 100%;
  max-width: 900px;
  align-self: center;
}

h1 {
  line-height: 5rem;
  margin: 0;
}

.notebook p,
.handwritten,
svg,
.notebook li,
.notebook ul {
  font-family: var(--handwritten);
  font-size: 1.25rem;
  line-height: 2rem;
}

.back-arrow-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.back-arrow {
  min-width: 50px;
  width: 8vh;
}

.notebook.desktop {
  display: none;
}

svg {
  font-size: 1.5rem;
  padding: 0;
}

svg text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (min-width: 500px) {
  .back-arrow-container {
    right: 5rem;
  }
}

@media only screen and (min-width: 1000px) {
  h1.top-heading,
  h2.top-heading {
    margin-top: 4rem;
  }

  .notebook.desktop {
    display: grid;
  }

  .notebook.mobile {
    display: none;
  }

  .notebook {
    gap: 0;
    grid-template: repeat(auto-fit, minmax(calc(100vh / 2), 1fr)) / repeat(2, calc(100% / 2));
  }

  .back-arrow-container {
    right: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .notebook p,
  .notebook li,
  .notebook ul,
  .handwritten {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .notebook h1,
  .notebook h2,
  .notebook h3,
  .notebook h4,
  .notebook h5,
  .notebook h6 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .notebook p,
  .notebook li,
  .notebook ul,
  .handwritten {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .notebook h1,
  .notebook h2,
  .notebook h3,
  .notebook h4,
  .notebook h5,
  .notebook h6 {
    font-size: 2rem;
    line-height: 3rem;
  }

  svg {
    font-size: 1.75rem;
    padding: 0;
  }
}
